h1 {
  color: #04AA6D;
}

h2 {
  color: #04AA6D;
}



.custom {
  border:9px solid #04AA6D;
  border-radius: 50%;
}

div {
  
}

p
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

